@use '../App.scss';

.footer {
    color: white;
    background: #181818;
    width: 100%;
    height: auto;

    .font {
        font-size: 1.125rem;
        padding: 10px 20px;
        @extend .logoFont;
    }

    .title {
        font-size: 2.25rem;
    }
}
